

## Verification of DSE records for e3, page 226v

###  Completeness

To check for **completeness** of coverage, please review these visualizations of DSE relations in ICT2:

- [**all** DSE relations of page 226v ](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_226v_227r@0.1832,0.1895,0.2890,0.03641&urn=urn:cite2:hmt:e3bifolio.v1:E3_226v_227r@0.1838,0.2810,0.2963,0.03020&urn=urn:cite2:hmt:e3bifolio.v1:E3_226v_227r@0.1703,0.2574,0.3012,0.03091&urn=urn:cite2:hmt:e3bifolio.v1:E3_226v_227r@0.1875,0.2096,0.2866,0.03694&urn=urn:cite2:hmt:e3bifolio.v1:E3_226v_227r@0.1827,0.3020,0.2796,0.03393&urn=urn:cite2:hmt:e3bifolio.v1:E3_226v_227r@0.1863,0.2380,0.2878,0.02966).

Visualizations for individual documents:

-  all [passages in urn:cts:greekLit:tlg0012.tlg001.e3:](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_226v_227r@0.1832,0.1895,0.2890,0.03641&urn=urn:cite2:hmt:e3bifolio.v1:E3_226v_227r@0.1838,0.2810,0.2963,0.03020&urn=urn:cite2:hmt:e3bifolio.v1:E3_226v_227r@0.1703,0.2574,0.3012,0.03091&urn=urn:cite2:hmt:e3bifolio.v1:E3_226v_227r@0.1875,0.2096,0.2866,0.03694&urn=urn:cite2:hmt:e3bifolio.v1:E3_226v_227r@0.1827,0.3020,0.2796,0.03393&urn=urn:cite2:hmt:e3bifolio.v1:E3_226v_227r@0.1863,0.2380,0.2878,0.02966).
